
@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <h1 style="text-align:center"><b>About us and our mission</b></h1>
    <div class="row">

        <div class="col-lg-6">
            <img src="~/Pictures/logo.jpg" style="width:50px; top:50px;">
            <h2 style="display:inline-block;">Hello<b>Asso</b></h2>
        </div>

    </div>

    <div>
        <div class="row">
            <div class="col-lg-6">
                <p style="font-size:20px;">
                    HelloAsso is the leading fundraising online platform for NGOs. Committed to the saving the planet by implementing strategies designed for Life on Land (SDG 15) and getting volunteers to join the club to change the world for a better place by subscribing to the platform.
                </p>
            </div>

            <div class="col-lg-6">
                <img src="~/Pictures/index1.jpg" style="width:300px ; height: 300px;">
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <p style="font-size:20px;">
                    Since HelloAsso was created in 2009, the 32 000 NGOs listed on the platform have collected over € 50 M with the help of a team providing dedicated training to master all available tools. As HelloAsso has chosen a unique, fair and participatory business model, these € 50 M were entirely redistributed to the NGOs.
                </p>
            </div>

            <div class="col-lg-6">
                <img src="~/Pictures/index2.jpg" style="width:300px ; height: 300px;">
            </div>

        </div>

    </div>

</div>

<hr />

<div class="container-fluid" style="margin-bottom:15%;">
    <h1 style="text-align:center"><b>Our Awards</b></h1>

    <div>
        <h3 style="text-align:center">November 2020 - Forbes: <a href="https://www.forbes.com/sites/solitairetownsend/2020/11/16/100-uk-leading-environmentalists-who-happen-to-be-women/?sh=cbae20324519">100 UK Leading Environmentalists (Who Happen To Be Women)</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2020 <a href="https://www.pioneerspost.com/news-views/20201116/women-of-inspiration-100-social-enterprise-leaders-showing-covid-whos-boss">Pioneers Post / Nat West WISE 100: Women of Inspiration - 100 social enterprise leaders</a></h3>
        <a href=""></a>
    </div>

    <div>
        <h3 style="text-align:center">2020 PEA Awards <a href="https://www.peaawards.com/who-is-your-eco-hero-of-the-decade/">Shortlist Finalist: Green Pioneer</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2019 - Founder Vicky named an <a href="https://www.earth-changers.com/blog/2019/2/27/founder-vicky-named-as-ambassador-for-the-yearofgreenaction">Ambassador for the #YearOfGreenAction</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2019 - Winner -  <a href="https://www.earth-changers.com/blog/2019/12/3/earth-changers-wins-best-responsible-travel-amp-tourism-2019-web-award">Travelmole UK Web Awards - Best Responsible Travel & Tourism website</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2019 - Founder Vicky selected for the <a href="https://www.earth-changers.com/blog/2019/12/3/earth-changers-founder-vicky-included-in-wise100-social-enterprise-women">Nat West / Pioneers Post WISE100 Women</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2019 - <a href="https://www.earth-changers.com/blog/2019/3/28/earth-changers-a-finalist-in-the-natwest-se100">NatWest SE100 Index + Finalist NatWest SE100 Awards</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2018 - Founder Vicky invited to the <a href="https://www.earth-changers.com/blog/2018/1/19/earth-changers-founder-vicky-invited-to-climate-council">SUNx Impact Travel Climate Resilience Council.</a></h3>
    </div>

    <div>
        <h3 style="text-align:center">2017 - UN World Tourism Organisation authorised Partner <a href="http://www.tourism4development2017.org/solutions/earth-changers/">Solution to Sustainable Tourism for development, for the International Year of Sustainable Tourism for Development (#IY2017).</a></h3>
    </div>





</div>

