
@{
    ViewBag.Title = "Blogs";
}

<div>
    <img src="~/Pictures/life.jpg" style="width:100%; left:0px; height: 600px;">
</div>



<div style="margin-bottom:15%;">
    <h1 style="text-align:center;"><b>Life On Land</b></h1>

    <p>'Biodiversity' refers to biological diversity, the variety and variability of life on Earth: The number and variety of species of plants, animals and other organisms that exist, within species, between species and between ecosystems, be they terrestrial, marine or aquatic (The International Convention on Biological Diversity, 1992).  'Natural heritage' includes bio-diversity, as well as geology and landforms.</p>

    <p>Humans depend on life on earth as much as the ocean for our sustenance and livelihoods. Plant life represents 80% life on Earth, converts carbon dioxide through photosynthesis, providing the air we breathe, and 80% of the human diet (60% of energy intake from 3 cereal crops alone - rice, maize and wheat): agriculture is an important economic resource, means of development, and livelihood for 2.6 billion people.</p>

    <p>Forests covering 30% of the Earth’s surface provide vital habitats for millions of - more than 80% - species of animals, plants and insects, plus 1.6 billion (including 70 million indigenous) people: important sources for clean air and water, and crucial for combating climate change: It’s not only species at risk, rather the interdependencies between them that threaten the whole ecosystem.</p>

    <p>Biodiversity conservation can ensure the survival of species by sustainably providing food, fuel, shelter, medicines and other resources for local communities’ lives and livelihoods, as well as sustainable income through responsible ecotourism as an alternative to other natural heritage resource employment such as logging. </p>

    <p>Human activity has altered almost 75% of the Earth’s surface (UN, 2020), and it is humanity’s squeeze and destruction of biodiversity that creates the conditions for new viruses and diseases such as Covid-19 to arise – with profound health and economic impacts in rich and poor countries alike. A new discipline, planetary health, focuses on the increasingly visible connections between the wellbeing of humans, other living things and entire ecosystems.</p>

    <p>Biodiversity is the whole world's sustainability, thus biodiversity conservation and 'Life On Land' is Sustainable Development Goal #15 of the 17 Global Goals of the 2030 Agenda for Sustainable Development:</p>

    <br />
    <h3>Progress on Sustainable Development Goal SDG 15 Life on Land</h3>

    <ul>
        <li>15%: Protected area cover for terrestrial and freshwater environments and 7% of marine territory, but the pace of improvement is slowing and they don’t cover all Key Biodiversity Areas (KBAs): In 2020, on average, only 44% of each terrestrial and 41% of each freshwater KBA was within a protected area, an increase of 12-13% points since 2000; and in hotspots for just 21% of all globally threatened species on the Red List, with only 13% fully within protected areas, and 31% are only partially covered by protected areas.</li>
        <li>76%: the world’s mountain areas had some green coverage: 41% by forests, 2% by grassland/shrubland and only 6% by cropland; vital for healthy mountain ecosystems, upland communities and lowland peoples, providing 60-80% of all fresh water. </li>
        <li>More than 20% of Earth has degradation of land area - 2 billion hectares, affecting 3.2 billion people, driving species to extinction and intensifying climate change, largely due to human-induced processes such as desertification, cropland expansion and urbanisation.</li>
        <li>More than half of the increase in agriculture (70% related to meat production) has been at the expense of intact forests since 1980.</li>
        <li>100 million hectares of tropical forest lost 1980-2000, to cattle ranching in South America and palm oil plantations in South East Asia.</li>
        <li>3.6 billion hectares: desertification due to persistent degradation of drylands, disproportionately affecting poor communities.</li>
        <li>74% of the poor are directly affected by land degradation globally: reducing productivity in 23% of the global terrestrial area, with between $235 billion and $577 billion in annual global crop output at risk as a result of pollinator loss. </li>
        <li>123: countries committed to setting voluntary targets to achieve “land degradation neutrality” Agenda 2030 target (2020)</li>
        <li>72% of indicators developed by indigenous communities show ongoing deterioration of elements of nature important to them: Indigenous peoples occupy or manage 28% of the planet’s land, but more than 40% of protected areas.</li>
        <li>10 million hectares of forests are lost yearly from 2015-2020, although the pace of loss slowed from 31.9% (2000) to 31.2% (2020). Now more than half of all 4.06 billion hectares of forest are under long-term management plans.</li>
        <li>$8.7 billion: 2017’s financial assistance to biodiversity protection - an increase of 15% in real terms over 2016.</li>
        <li>$125 trillion: the value of ecosystems to human livelihoods and well-being.</li>
        <li>32%: only of 113 countries are on track to achieve national targets in the CBD and integrate biodiversity into national planning.</li>
        <li>Up to 48: bird and mammal extinctions have been prevented by conservation efforts since 1993 when the UN Convention on Biological Diversity came into force; Extinction rates could have been three to four times higher otherwise.</li>
        <li>0.73 globally: The Red List Index value in 2020 (1 indicates no threat to any species, 0 indicates all species are extinct), deteriorating from 0.82 in 1990 and 0.75 in 2015.</li>
        <li>Over 31,000 species: threatened with extinction - 27% of the over 116,000 assessed species in the Red List.</li>
        <li>Nearly 7,000 species of animals and plants have been illegally traded involving 120 countries, not only eroding biodiversity and threatening ecosystem health, but creating insecurity, fuelling conflict, feeding corruption and disrupting human health.</li>
        <li>83% of all wild mammals and half of plants have been lost due to humanity - the world’s 7.6 billion people - who represent just 0.01% of all living things. 60% of all mammals on Earth are livestock, mostly cattle and pigs, 36% are human and just 4% are wild animals. Likewise, 70% of all birds on the planet are farmed poultry, and just 30% wild. (The Guardian, 2018).</li>
        <li>1 million / 25% animal and plant species are threatened with extinction in decades (3 year, 15,000-reference study by IPBES, 2019). </li>
        <li>33% of fish stocks were harvested at unsustainable levels in 2015.</li>
        <li>Nearly halved: Live coral cover on reefs over the past 150 years;with amphibians and cycads in danger of disappearing completely by 2050 due to climate change.</li>
        <li>10 fold: the amount of plastic pollution has increase since 1980. </li>
        <li>3% only of the world's oceans were described as free from human pressure in 2014.</li>
        <li>33%: of CO2 reductions targets for 2030 can be contributed by nature-based climate solutions.</li>
    </ul>

    <br />
    <h3>The Impact of Covid on SDG 15 Life on Land </h3>
    <ul>
        <li>The pandemic has stressed our dependence on the nature and a healthy planet for SDGs from health and well-being, zero hunger, livelihoods and economy, poverty to emissions for climate change. </li>
        <li>Zoonotic? Wildlife poaching and trafficking disrupts ecosystems and spreads infectious diseases: The pangolin may have been the intermediary animal that transferred the coronavirus. The most trafficked animal, 370,000 pangolins were seized globally 2014-2018, suggesting millions were poached and killed: poaching is not just about biodiversity but health, economic development and security.</li>
        <li>75% of all emerging infectious diseases in humans, eg. Ebola, are zoonotic and closely interlinked with the health of ecosystems.</li>
        <li>The awareness raised on linking Covid and illegal exploitation of wildlife has led to new bans on wild animals’ sale for consumption.</li>
        <li>Some might say Covid19 is nature’s way of pushing us to change.</li>
    </ul>

    <br />
    <h3>Challenges of SDG15, Life On Land</h3>
    <p>Humans are exploiting and destroying nature on unprecedented scale. WWF’s Living Planet Index 2018 estimated the value of ecosystems to humans at $US125 trillion per year. However, the 2020 report with ZSL, tracking the abundance of almost 21,000 populations of mammals, birds, fish, reptiles and amphibians around the world and as such an early warning indicator on the health of nature, found animal populations have plunged an average of 68% since 1970, driven by a need for food and energy, intensive agriculture, overconsumption, population growth and urbanisation - urban areas doubling since 1992. </p>
    <p>Such transformation of the planet by human activity has led scientists declaring a new geological era – the 'Anthropocene'. The impact is so great it’s even shifted the Earth’s axis (The Guardian, 2021). Other key contributory factors are the hunting and direct exploitation of animals, climate change, pollution and invasive species: the negative trends for nature will continue past 2050. </p>
    <p>This, in the decade 2011–2020 the United Nations designated as the UN Decade on Biodiversity. Transformative change in how we interact with nature is required. Urgent action must be taken to address land use and reduce the loss of biodiversity for our planet's sustainability. This includes ending destructive subsidies for fossil fuels, industrial fishing and agriculture which extract and plunder making the ecosystem unhealthy and unbalanced, and moving away from success defined by increased consumption and GDP as a measure of economic wealth, to adopting holistic quality of life and long-term effects approaches, including protecting more land and sea.</p>
    <p>To prevent, halt and reverse the degradation of ecosystems worldwide, the UN has launched a Decade on Ecosystem Restoration (2021-2030), to focus on building political will and capacity to restore humankind’s relation with nature, including the climate crisis impacts</p>

    <br />
    <h3>Ecosystem Services</h3>
    <p>By considering ecosystems as 'natural capital' (recognising human dependence on the environment and the value it offers us), the benefits people, communities and economies obtain from ecological systems are called 'ecosystem services'. These services are distinguished into four categories :</p>

    <div class="container">
        <div class="row">
            <div class="col col-lg-6">
                <ul>
                    <li>Supporting Services are necessary for the production of all other ecosystem services eg. nutrient recycling and soil formation.</li>
                    <li>Provisioning services which involve the production of renewable resources. e.g. food, raw materials, wood, fresh water, minerals, energy and even ornamental services, such as fashion, handicrafts, pets, decoration and souvenirs.</li>
                    <li>Regulating services are those that lessen environmental change e.g. climate sequestration, pest/disease control, waste decomposition and air purification.</li>
                    <li>Cultural services represent non-material benefits of human value and enjoyment e.g. landscape aesthetics, cultural heritage, outdoor recreation, spiritual enrichment, cognitive development and reflection.</li>
                    <li>Business and ecosystems are linked. Companies rely on the provisioning and regulatory services ecosystems provide. They can directly support sustainable natural resource use by measuring, managing and mitigating impacts.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <img src="~/Pictures/images.jfif" style="width:270px;height:270px;">
            </div>
        </div>

        <br />

        <p>Payments for Ecosystem Services (PES) are incentives offered for some sort of provision of ecological service. They are set down as a transparent system for conditional payments to voluntary providers to promote the conservation of natural resources, such as found in the interplay of tourism and ecosystems e.g.</p>

        <ul>
            <li>At Campi ya Kanzi in Kenya, PES helps with human-wildlife conflicts which might otherwise limit livelihoods and tourism potential: A daily conservation fee is charged to guests which funds any loss of livestock to Maasai herdsmen by predators such as lions. This means the Maasai are fairly compensated and incentivised to not threaten wildlife which might harm their cattle, key to predator conservation: Protecting wildlife by making it profitable for the landlords. Wildlife in their area has subsequently not reduced as dramatically as other areas.</li>
            <li>In Malawi, RSC's PES of 1.5% of holiday costs go to local projects for the conservation, protection and enhancement of the ecosystems and rich culture of rural host communities their guests benefit from during their stay.</li>
        </ul>


        <br />
        <h3>Tourism & Biodiversity </h3>

        <p>Tourism has a particular interest in biodiversity conservation because it is often natural capital, such as landscapes and wildlife, air and water quality, flora and natural heritage, which attract tourists to a place. It is in a place's and its peoples' interest to protect, retain and restore its natural ecosystems.</p>
        <p>But biodiversity is not distributed evenly on Earth. Its richness depends on the climatic conditions and area of a region, generally clustering in hotspots in tropical areas. A biodiversity hotspot is a region with a high level of endemic species that has experienced great habitat loss: Most are tropical forest areas, home to thousands of endemic plants and animals being destroyed at a frightening pace.</p>
        <p>Terrestrial biodiversity tends to be greater near the equator, such as Kenya, Tanzania, Borneo, Colombia, Ecuador & Galapagos, seemingly the result of the warm climate and high 'primary productivity' - the production of chemical energy in organic compounds by living organisms.</p>


        <div class="row">
            <div class="col-lg-4">
                <img src="~/Pictures/bird.jpeg" style="height:200px;">
                <br />
                <br />
                <img src="~/Pictures/truck.jfif" style="height:200px;">
            </div>

            <div class="col-lg-6">
                <ul>
                    <li>Costa Rica is known for its nature with its 850 species of birds and 200 mammal species, reptiles, trees and plants. Lapa Rios, a 930 acre private nature reserve exclusive to registered guests at the southern-most tip of the Osa Peninsula, is Central America's last remaining lowland dense tropical primary rainforest, home to an incredible 2.5% of the biodiversity of the whole world, probably - who knows how many unknown species there may be!</li>

                    <li>Near by Nicaragua is similarly bio-diverse: A lake setting for rainforest combined with inactive volcanoes' elevation gives rise to one of the world’s few cloud forests - an extremely rare ecosystem home to a hundreds of species, many endemic such as the Mombacho salamander and Mombacho butterly. There’s 700 different plant species, including hundreds of orchids and flowering bromeliads, and over 700 bird species. Jicaro Island has started a program and tree nursery for reforesting the Asese Peninsula with native trees.</li>

                    <li>In Kenya, with a backdrop of Kilimanjaro, the immense 283,000 acres of the Kuku Group Ranch, offers a natural corridor between Tsavo and Amboseli National Parks, and incredible wildlife viewing for guests at Campi ya Kanzi including the Big Five. The Maasai host dynamic has also led to pioneering Payment for Ecosystem Services, incentivising Maasai to see wildlife as a long term asset worth conserving, and the deep cloud forests of the Maasai's Chyulu Hills offering important water, oxygen and carbon resources.</li>
                </ul>
            </div>

        </div>

        <br />

        <ul>
            <li>On Floreana Island, experience the first community-based tourism in The Galapagos, a rare opportunity to stay on the island and see out-of-this-world wildlife in one of the few World Heritage Marine Reserves.</li>
            <li>
                Indonesia's 17,000 islands cover 735,355 square miles (1,904,560 km2) and contain 10% of the world's flowering plants, 12% of mammals and 17% of reptiles, amphibians and birds—along with nearly 240 million people. Nikoi Island conduct regular surveys of flora and fauna and are looking to establish a Marine Protected Area for Marine Conservation.
            </li>
        </ul>




        <br />
        <h3>Species on Planet Earth</h3>
        <div class="row">
            <div class="col-lg-6">
                <p>All species of plants taken together are known as Flora: About 70,000 species of plants are known to date. All species of animals taken together are known as Fauna which includes birds, mammals, fish, reptiles, insects, crustaceans, molluscs, etc.</p>
                <p>Estimates on the total number of Earth's current species range from 8.7 million to 14 million, with about 1.2 million documented and over 86% not yet described.</p>
                <p>More recently, in May 2016, scientists reported that 1 trillion species are estimated to be on Earth currently with only one-thousandth of 1% described (Wikipedia).</p>
                <p>Rapid environmental changes typically cause mass extinctions. More than 99% of all species, amounting to over five billion species, that ever lived on Earth are estimated to be extinct. Since life began on Earth, five major mass extinctions and several minor events have led to large and sudden drops in biodiversity.</p>
            </div>

            <div class="col-lg-6">
                <img src="~/Pictures/m3.jpeg" style="width:280px; height:280px;">
            </div>
        </div>

        <br />
        <h3>The Red List</h3>
        <p>Understanding global biodiversity distribution of is one of the most significant objectives for ecologists and biogeographers, essential to issues of major concern to humankind, such as the spread of invasive species, the control of diseases and impacts on human health, and the likely effects of climate change. Tropical areas play a prominent role, where rates of habitat degradation and biodiversity loss are exceptionally high and human imperatives such as food security and sustainable development particularly challenging.</p>

        <div class="row">
            <div class="col-lg-6">
                <p>The International Union for Conservation of Nature (IUCN) has been assessing the conservation status of species on a global scale for over 50 years in order to catalogue and highlight those facing a higher risk of global extinction (i.e. those listed as Critically Endangered, Endangered and Vulnerable). Only a small number of the world's plant, fungi and animal species have been assessed and catalogued on this IUCN Red List: Of the 134,425, more than 37,400 (28%) are at risk of extinction, including 41% of amphibians, 36% sharks and rays, 28% selected crustaceans, 26% of mammals, 14% of birds and 33% of reef corals.</p>
                <p>Conservation efforts are thwarted by poaching and trafficking of wildlife, crimes that are occurring worldwide. Since 1999, at least 7,000 species of animals and plants have been reported in illegal trade affecting 120 countries. (UN Stats).</p>
            </div>

            <div class="col-lg-6">
                <img src="~/Pictures/rhino.jpg" style="width:300px;height:300px;">
            </div>
        </div>

        <br />
        <h3>Human Impacts</h3>
        <p>The period since the emergence of humankind has displayed an ongoing biodiversity reduction and an accompanying loss of genetic diversity, caused primarily by human impacts, particularly habitat destruction. </p>
        <p>Deforestation is a serious contributor to loss of biodiversity as forests are home to 80% of all terrestrial species of animals, plants and insects. The removal of trees, often tropical rainforest, sometimes irreplaceable primary rainforest, for conversion to non-forest use such as palm oil plantation or other cash crops like banana, creates huge loss of tree species and wildlife living in the habitat, like the Orang-Utan in Indonesia. </p>
        <p>There’s also an increasing link between this human behaviour, environmental change and zoonotic diseases, like Ebola and Covid19: The disruption of pristine forests driven by logging, mining, road building through remote places, rapid urbanisation and population growth and density is bringing people into closer contact with animal species like never before, with resulting transmission of disease from wildlife to humans a hidden cost of human economic development: Humans are enabling the spread of diseases by reducing the natural barriers between host animals and themselves. /p>
        <p>Scientists have found that over 50% of the world’s land area is now dominated by human activity, with 9% of this change happening in the last 25 years alone. Drought and desertification is also on the rise each year, amounting to the loss of 12 million hectares (UN Convention to Combat Desertification, UNCCD, 2021) and affecting poor communities globally.</p>

        <br />
        <h3>Glossary</h3>
        <ul>
            <li>Endemic: Native to and restricted to a particular area or region and not found naturally anywhere else in the world.</li>
            <li>Native or Indigenous: Native to a particular area or region, whereby its presence is the result of only natural process, with no human intervention, but can be found naturally in other areas.</li>
            <li>Exotic or Introduced: Not native or indigenous to a particular area or region but accidentally or deliberately introduced into the area. May become established or invasive.</li>
            <li>Invasive: Non-native or introduced to an ecosystem that becomes established, spreads, and likely causes damage to biodiversity, agricultural production, or human health.</li>
        </ul>
    </div>

</div>

