@model List<u19028386_HomeW04.Models.Plant>
@{
    ViewBag.Title = "DeletePlant";
}

<h2>Delete Plant</h2>

@using (Html.BeginForm("DeletePlant", "HelloAso", FormMethod.Post))
{
    <label for="name">Name</label>
    <input type="text" name="name" />
    <br />

    <label for="country">Country</label>
    <input type="text" name="country" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>

}

