
@{
    ViewBag.Title = "Donations";
}

<h1 style="text-align:center;">Donate</h1>

@*<div>change colours of buttons when clicked </div>*@


<div class="container-fluid" style="border-block-color:lightgrey;border-radius:5px;">
    <div class="container-fluid" style="text-align:center;">
        <button style="width:120px;">Give Once</button>
        <button style="display: inline-block; width: 120px;">Monthly</button>
    </div>

    <br />

    <div class="container-fluid" style="text-align:center;">
        <button style="width:55px;">R50</button>
        <button style="display: inline-block; width: 55px;">R100</button>
        <button style="display: inline-block; width: 55px;">R150</button>
    </div>

    <br />

    <div class="container-fluid" style="text-align:center;">
        <button style="width: 55px;">R200</button>
        <button style="display: inline-block; width: 55px;">R250</button>
        <button style="display: inline-block; width: 55px;">R300</button>
    </div>

    <br />


    <div class="container-fluid" style="text-align:center;">
        <input disabled />
    </div>

</div>

<br />

<div>
    <button class="btn-primary" style="background-color: #4CAF50; width: 100%; height: 60px; border-radius: 5px; "> DONATE </button>
</div>





