
@{
    ViewBag.Title = "Index";
}

<div style="margin-bottom:15%;">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Pictures/u1.png" style="width: 550px; height: 550px;"/>
        </div>

        <div class="col-lg-6">

            <img src="~/Pictures/u2.png" style="width: 550px; height: 550px; " />
        </div>
    </div>

   
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Pictures/u3.png" style="width: 550px; height: 550px;"/>
        </div>
       
        <div class="col-lg-6">
            <img src="~/Pictures/u4.png" style="width: 550px; height: 550px;" />
        </div>
    </div>

  
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Pictures/u5.png" style="width: 550px; height: 550px;"/>
        </div>
       
        <div class="col-lg-6">
            <img src="~/Pictures/u6.png" style="width: 550px; height: 550px;" />
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <img src="~/Pictures/u7.png" style="width: 550px; height: 550px;"/>
        </div>
        
        <div class="col-lg-6">
            <img src="~/Pictures/u8.png" style="width: 550px; height: 550px;"/>
        </div>
    </div>
   
    <div class="row">
        <img src="~/Pictures/diagram.png" style="width: 95%; height: 600px;"/>
    </div>
</div>

