
@{
    ViewBag.Title = "Index";
}

<div style="margin-bottom:15%;">
    <div class="row">
        <div class="col-lg-6">
          <img src="~/Pictures/UseCase3.png" />

        </div>
        <div class="col-lg-6">

            <img src="~/Pictures/useCase4.png" />
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <img src="~/Pictures/UseCase5.png" />

        </div>
        <div class="col-lg-6">
            <img src="~/Pictures/me.png" />

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">
            <img src="~/Pictures/me2.png" />

        </div>
        <div class="col-lg-6">
            <img src="~/Pictures/diagram.png" />

        </div>

    </div>
</div>

