@model List<u19028386_HomeW04.Models.Login>
@{
    ViewBag.Title = "JoinUs";
}

<form style="text-align:center; border:5px solid lightgrey;">
    <div>
        <h2>LOGIN</h2>
    </div>
    <br />



    <div>
        <h3>Please enter your email and password</h3>
    </div>
    <br />


    <div class="form-outline form-white mb-4">
        <i class="fa fa-user icon fa-5x"></i>
        <input type="text" id="mEmail" class="form-control form-control-lg" name="mUsername"style="display:inline-block;">
    </div>
    <br />
    <br />


    <div class="form-outline form-white mb-4">
        <i class="fa fa-lock icon fa-5x"></i>
        <input type="password" id="mPass" class="form-control form-control-lg" name="mPass" style="display:inline-block;">
    </div>

    <br />

    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
    <br />

    <input type="button" value="LOGIN" class="btn btn-primary" onclick="location.href='@Url.Action("Views","HelloAso")'"  style="width:200px;position:center;" />
      
    
    <br />

    <br />
    <div>
        <p class="mb-0">
            Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
        </p>
    </div>
    <br />

</form>



<script type="text/javascript">
    @foreach (var log in Model)
            {
               if(@log.Username == )
            }
  

</script>

