@{
    ViewBag.Title = "JoinUs";
}




<form style="text-align:center; border:5px solid lightgrey;">
    <div>
        <h2>LOGIN</h2>
    </div>
    <br />

    <div style="color:red;text-align:center;">@ViewBag.Incorrect</div>

    <div>
        <h3>Please enter your email and password</h3>
    </div>
    <br />
    

    <div class="form-outline form-white mb-4">
        <i class="fa fa-user icon fa-5x"></i>
        <input type="text" id="mEmail" class="form-control form-control-lg" name="mUsername" style="display:inline-block;">
    </div>
    <br />
    <br />


    <div class="form-outline form-white mb-4">
        <i class="fa fa-lock icon fa-5x"></i>
        <input type="password" id="mPass" class="form-control form-control-lg" name="mPass" style="display:inline-block;">
    </div>

    <br />



    <input type="button" value="LOGIN" class="btn btn-primary" style="width:200px;position:center;" onclick="location.href='@Url.Action("Views","HelloAso")'" />
  
    <br />

    <br />


</form>
