
@{
    ViewBag.Title = "Messages";
}

<h2>Leave us a message below relating to our website. </h2>



<div class="container-fluid" style="border:3px solid lightgrey;">

    <p style="text-align:center;"> Was the website helpful?</p>

   
    <br />
    <p style="text-align:center;">Please leave us a message below</p>

    <br/>
    <form style="text-align:center;">
        <textarea style="width:500px;height:200px; display:inline-block;" ></textarea>
        <br />
        <button type="submit" onclick="myFunction()" style="display:inline-block;">Submit</button>
    </form>

</div>

<script>
    function myFunction() {
        alert("Your feedback has been received. Thank you!");
    }
</script>



