@{
    ViewBag.Title = "People";
}

<br />
<div class="row" style="border:2px solid lightgrey; text-align:center; ">
    <i class="fa fa-users icon fa-5x"></i>
    <p style="display:inline-block;">HelloAsso has 6 current employee profiles, including Director of Development Thomas Guil.</p>
</div>
<br />
<div class="container-fluid" style="border: 5px; margin-bottom: 15%;">
    <div class="row">
        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/tho.jpg" />
                <p><b>Thomas Guil</b></p>
                <p>Director of Development</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Show Deatails
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"><b>Thomas Guil</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Thomas Guil</b> is the <b>Director of Development</b> of the organisation and has been working with for the past 5 years.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/zinhle.jfif" />
                <p><b>Zinhle Abrahamcs</b></p>
                <p>CFSO - Chief Financial and Strategy Officer</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong1">
                    Show Deatails
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"><b>Zinhle Abrahamcs</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Zinhle Abrahamcs</b> is the <b>CFSO - Chief Financial and Strategy Officer</b> of the organisation and has been working with for the past 5 years.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/anna.jfif" />
                <p><b>Anna Royalty</b></p>
                <p>Managing Director and Co-Founder</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2">
                    Show Deatails
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"><b>Anna Royalty</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Anna Royalty</b> is the <b>Managing Director and Co-Founder</b> of the organisation and has been working with for the past 5 years.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/pearl.jfif" />
                <p><b>Pearl Welcome</b></p>
                <p>Co-Founder and President</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong3">
                    Show Deatails
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"><b>Pearl Welcome</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Pearl Welcome</b> is the <b>Co-Founder and President</b> of the organisation and has been working with for the past 5 years.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/sam.jfif" />
                <p><b>Sam Happy</b></p>
                <p>Technical Director</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong4">
                    Show Deatails
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"><b>Sam Happy</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Sam Happy</b> is the <b>Technical Directo</b> of the organisation and has been working with for the past 5 years.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/eliza.jfif" />
                <p><b>Elizabeth Swenkop</b></p>
                <p>Co-Founder</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong5">
                    Show Deatails
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"><b>Elizabeth Swenkop</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Elizabeth Swenkop</b> is the <b>Co-Founder</b> of the organisation and has been working with for the past 5 years.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



