@{
    ViewBag.Title = "People";
}

<br />
<div class="row" style="border:2px solid lightgrey; text-align:center; ">
    <i class="fa fa-users icon fa-5x"></i>
    <p style="display:inline-block;">HelloAsso has 6 current employee profiles, including Director of Development Thomas Guil.</p>
</div>
<br />
<div class="container-fluid" style="border: 5px; margin-bottom: 15%;">
    <div class="row">
        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/tho.jpg" />
                <p><b>Thomas Guil</b></p>
                <p>Director of Development</p>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/zinhle.jfif" />
                <p><b>Zinhle Abrahamcs</b></p>
                <p>CFSO - Chief Financial and Strategy Officer</p>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/anna.jfif" />
                <p><b>Anna Royalty</b></p>
                <p>Managing Director and Co-Founder</p>
            </div>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/pearl.jfif" />
                <p><b>Pearl Welcome</b></p>
                <p>Co-Founder and President</p>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/sam.jfif" />
                <p><b>Sam Happy</b></p>
                <p>Technical Director</p>
            </div>
        </div>

        <div class="card">
            <div class="col-lg-4">
                <img src="~/Pictures/eliza.jfif" />
                <p><b>Elizabeth Swenkop</b></p>
                <p>Co-Founder </p>
            </div>
        </div>
    </div>
</div>



