
@{
    ViewBag.Title = "Views";
}

<h2> Thirteen countries each have more than 500 threatened species of plants, birds, mammals, and fish</h2>
<h4>Number of species classified by the International Union for Conservation of Nature as endangered, vulnerable, rare, indeterminate, out of danger, or insufficiently known, 2016</h4>



